<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="./js/JQuery.js"></script>
    <style media="screen">
        [v-cloak] {
            display: none;
        }
    </style>
    <title></title>
</head>
<body>
<nav v-cloak id="app" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="Home"><img style="width: 300px; height: 80px;" src="" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="Booking">Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="About">About</a>
            </li>
        </ul>

        <div class="" v-if="!here">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='/Login'" type="submit"
                    style="margin-right: 10px;">Login
            </button>
            <button class="btn btn btn-secondary my-2 my-sm-0" onclick="window.location.href='/Register'" type="submit">
                Register
            </button>
        </div>
        <div class="" v-else>
            <a class="navbar-brand" href="Account"><span>{{user.first_name}} {{user.last_name}}</span><img
                    style="width: 50px; height: 50px; border-radius: 50px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjsd8co7FiLB5KxEFYZsRDYnlAhzQ8fnR1zmlUoW_ApTsRfj_5"
                    alt="Avatar"></a>
        </div>
    </div>
</nav>

<div v-cloak id="app2" class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <img style="width: 150px; height: 150px; border-radius: 50px;"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjsd8co7FiLB5KxEFYZsRDYnlAhzQ8fnR1zmlUoW_ApTsRfj_5"
             alt="Avatar"></a><br>
        <span>{{user.first_name}} {{user.last_name}}</span><br>
        <span>{{user.phone_number}}</span><br>
        <span>{{user.email}}</span>

        <div class="" v-if="user.admin == true">
            <span>I am admin</span>
            <a type="button" href="AddHotel" class="btn btn-outline-primary">Add Hotel</a>
        </div>
        <div class="" v-if="user.manager === true">
            <span>i am manager</span><br>
            <a v-if="hotel.hotel" v-bind:href="'Hotel?hotelId=' + hotel.hotel.id_hotel" class="btn btn-outline-primary">Go to
                the Hotel "{{hotel.hotel.name}}"</a>
        </div>
        <hr>
        <h1 class="text-center">History</h1>

    </div>
</div>
<script src="./js/account.js"></script>
</body>
</html>
