<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="./js/JQuery.js"></script>
    <style media="screen">
        [v-cloak] {
            display: none;
        }
    </style>
    <title></title>
</head>
<body>
<nav v-cloak id="app" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="Home"><img style="width: 300px; height: 80px;" src="" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="Booking">Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="About">About</a>
            </li>
        </ul>

        <div class="" v-if="!here">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='/Login'" type="submit"
                    style="margin-right: 10px;">Login
            </button>
            <button class="btn btn btn-secondary my-2 my-sm-0" onclick="window.location.href='/Register'" type="submit">
                Register
            </button>
        </div>
        <div class="" v-else>
            <a class="navbar-brand" href="Account"><span>{{user.first_name}} {{user.last_name}}</span><img
                    style="width: 50px; height: 50px; border-radius: 50px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjsd8co7FiLB5KxEFYZsRDYnlAhzQ8fnR1zmlUoW_ApTsRfj_5"
                    alt="Avatar"></a>
        </div>
    </div>
</nav>

<div class="row" style="margin-top: 60px;">
    <div class="col-md-3"></div>
    <div v-cloak id="HotelList" class="col-md-6">
        <div class="text-center" v-for="hotel in hotels">
            <h2>{{hotel.name}}</h2>
            <img src="https://www.w3schools.com/css/paris.jpg"
             style="border: 1px solid #ddd; border-radius: 4px;padding: 5px; width: 300px;"><br>
            <span>{{hotel.adress}}</span><br>
            <span>{{hotel.first_name}}</span>
            <span>{{hotel.last_name}}</span><br>
            <span>{{hotel.phone_number}}</span><br>
            <span>{{hotel.email}}</span><br>
            <a v-bind:href="'Hotel?hotelId=' + hotel.id_hotel" class="btn btn-primary" name="button">View</a>
        </div>
    </div>
</div>

<script src="./js/index.js"></script>
</body>
</html>
